.grid{
    display:grid;
}

.welcome_grid{
    grid-template-columns: 2.5fr 2fr;
    align-items:center;
}

.about_grid{
    grid-template-columns: 1fr 2.5fr;
    align-items:center;
}

.card_grid{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.footer_columns_grid{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items:center;
    justify-items: center;
}